.cart__top {
  /* Top */

  /* Auto layout */
  padding: 0px;
  gap: 8px;

  width: 768px;
  height: 40px;
}

.cart__headline {
  /* Headline */

  width: 768px;
  height: 40px;

  /* Inside auto layout */
}

.cart__headline__clear {
  /* Clear */

  /* Auto layout */
  align-items: center;
  padding: 0px;
  gap: 4px;

  float: right;
}

.cart__headline__clear__text {
  /* Counter */

  /* Body 2 / Regular (14) */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  padding-top: 15px;

  /* Dark / gray-700 */
  color: #8a93a3;

  cursor: pointer;
}

.cart__headline__clear__text:hover {
  color: #e73b3b;
}

.cart__headline__title {
  /* Headline / Title 1 */

  float: left;
}

.cart__headline__title__text {
  /* Title 1 */

  /* Title 1 Semibold (28) */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */

  /* Dark / gray-900 */
  color: #1e1e3c;
}
