.cart__table {
  width: 768px;
}

.cart__table td {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eceff4;
}

.cart__table__image {
  padding-left: 10px;
  width: 110px;
}

.cart__table__image img {
  max-width: 100px;
  max-height: 100px;
}

.cart__table__content {
  width: 284px;
}

.cart__table__amount > .cart__table__amount__block {
  background: #f8f8f9;
  border-radius: 6px;
  display: inline-block;
  user-select: none;
}

.cart__table__amount > .cart__table__amount__block > div {
  display: inline-block;
  padding: 10px;
}

.cart__table__amount__decrease,
.cart__table__amount__increase {
  cursor: pointer;
}

.cart__table__amount__decrease:hover,
.cart__table__amount__increase:hover {
  background: #e0e0e2;
  border-radius: 6px;
  transition: background-color 0.8s;
}

.cart__table__amount__decrease > img {
  position: relative;
  top: -3px;
}

.cart__table__last {
  text-align: right;
  vertical-align: top;
}

.cart__table__last__trash {
  cursor: pointer;
  display: inline-block;
}

.cart__table__last__trash:hover {
  filter: invert(100%);
  border-radius: 6px;
  transition: all 0.8s;
}

.cart__table__last__price {
  margin-top: 18px;
}
