.header
  .header__lg_2024
    .header__center
      .header__logos
        =link_to '/' do
          =image_tag 'logo.svg', class: 'header__logo'
          =image_tag 'headline.svg', class: 'header__headline'
