!!!
%head
  %title= content_for?(:title) ? yield(:title) : I18n.t("site_title")
  %meta{:name => "description", :content=> "#{ content_for?(:description) ? yield(:description) : (I18n.t "site_description")}"}
  %meta{:charset => "utf-8"}
  %meta{:author => "Tauraloke Esteru"}
  =stylesheet_link_tag    "application", :media => "all"
  =javascript_include_tag "application"
  =csrf_meta_tags
  = yield(:head)
%body
  #container.container
    %header
    #main{:role => "main"}
      = yield
    %footer